body{
    font-family: 'Bebas Neue', cursive;
} 
.orange-colour{
    color: orangered;
}
h1{
    text-align: center;
    font: size 500px; 
    font-weight: 700;
}
h5{
    text-align: center;
    color: white;
    font-weight: 100;
}
p{
    text-align:left;
    font-size: large;
}
.button-link{
    background-color: orangered;
    background-image: linear-gradient(orange, tomato);
    text-decoration: none;
    color: white;
    border-radius: 3px;
    padding: 7px 13px;
}

.half-width{
    width: 50% ;
    padding-left: 7%;
    font-size: large;
    
}
.half-width img{
    width: 70%;
}
.top-banner{
    background-image: url(images/7.png);
    background-repeat: no-repeat;
}
.middle-banner{
    background-image:url(images/bg1.jpg);
    background-repeat: no-repeat;
    text-align: center;
}
.half-bottom{
    text-align: center ;
}
.last-bottom{
    background-color: gray;
    margin: 10%;
    padding-top:2% ;
    padding-bottom: 2%;
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
}
.recipe-item{
    box-shadow:10px 10px 10px gray;
    border-radius: 10px;
    width: 30%;
    margin-left: 3%;
    margin-right: 3%;
    padding-left: 10px;
}
.recipe-item img{
width: 100%;
}
.social-acti{
    box-shadow:10px 10px 10px gray;
    
}